main {
    position: relative;
}
.circles {
    height: 300px;
    width: 300px;    
    position: relative;
    transition: 2s;
    --distance: 120px;
}

.circles.activated {
    transform: rotate(360deg);
    --distance: 300px;
}

.circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #7f7f7f7f;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 2s, background-color 1s 2s;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.activated .circle {
    background-color: transparent;
}

.circle:nth-child(1) {
    transform: translateY(calc(-1*var(--distance)));
}
.circle:nth-child(2) {
    transform: translateX(calc(-1*var(--distance)));
}
.circle:nth-child(3) {
    transform: translateX(var(--distance));
}
.circle:nth-child(4) {
    transform: translateY(var(--distance));
}

.circle input, .circle .output {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.circle input {
    border: none;
    outline: none;
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    transition: 1s;
    width: 150px;
}

.activated .circle input {
    opacity: 0;
}

.circle .output {
    opacity: 0;
    transition: 1s 2s;
}

.activated .circle .output {
    opacity: 1;
}

.button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #7f7f7f;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
}

.button:hover {
    background-color: #9f9f9f;
}
