.venn {
    position: relative;
    height: 80vmin;
    width: 80vmin;
}
.circles {
    height: 100%;
    width: 100%;
    position: relative;
    transition: 2s;
    --distance: 40%;
    --content-padding: 3em;
}

.activated .circles {
    transform: rotate(360deg);
    --distance: calc(50% + var(--content-padding));
}

.circle {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: var(--color);
    position: absolute;
    top: 25%;
    left: 25%;
    transition: transform 2s, background-color 1s 2s, border-color 1s 2s;
    border: 0.4em solid white;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    mix-blend-mode: screen;
    --content-left: 50%;
    --content-top: 50%;
    padding: var(--content-padding);
}

.activated .circle {
    background-color: transparent;
    border-color: var(--color)
}

.circle:focus-within {
    z-index: 2;
}

.circle:nth-child(1) {
    transform: translateY(calc(-1*var(--distance)));
    --color: #ffe83a7f;
    --content-top: 30%;
}
.circle:nth-child(2) {
    transform: translateX(calc(-1*var(--distance)));
    --color: #b8fa3f7f;
    --content-left: 30%;
}
.circle:nth-child(3) {
    transform: translateX(var(--distance));
    --color: #fa664f7f;
    --content-left: 70%;
}
.circle:nth-child(4) {
    transform: translateY(var(--distance));
    --color: #41f8c77f;
    --content-top: 70%;
}

.circle .dropdown {
    position: absolute;
    transform: translate(-50%, -1em);
    left: var(--content-left);
    top: var(--content-top);
    width: 12em;
    z-index: 1;
    transition: 1s;
}

.activated .dropdown {
    opacity: 0;
}

.dropdown input {
    border: none;
    outline: none;
    background-color: #ffffffbf;
    padding: 0.5em;
    border-radius: 0.5em;
    /* text-align: center; */
    width: 100%;
    box-sizing: border-box;
}

.dropdown-option-list {
    margin-top: 5px;
}

.dropdown-option {
    padding: 5px;
    margin: 2px 0;
    background-color: #ffffffbf;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: #dfdfdfbf;
}

.dropdown-option:first-child {
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.dropdown-option:last-child {
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.circle .output {
    left: 50%;
    top: 50%;
    opacity: 0;
    transition: 1s 2s;
    text-align: justify;
    /* text-align-last: center; */
}

.activated .circle .output {
    opacity: 1;
}

.button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #bfbfbfbf;
    padding: 10px;
    border-radius: 40px; */
    cursor: pointer;
    transition: 1s;
}

.button:hover {
    /* background-color: #9f9f9fbf; */
    color: gray;
}

.activated .button {
    color: transparent;
    cursor: initial;
}
